{% extends 'base/prototypes/split.html' %}
{% block main %}
    <section class="contact">
        <h1>Contact information: </h1>
        <table>
            <tr>
                <td>Interested in becoming a member of EESTEC?</td>
                <td>vc-ea[at]eestec[dot]net</td>
            </tr>

            <tr>
                <td>Interested in becoming our projects’ partner?</td>
                <td>chairwoman[at]eestec[dot]net</td>
            </tr>
            <tr>
                <td>Interested in sponsorship?</td>
                <td>treasurer[at]eestec[dot]net</td>
            </tr>
            <tr>
                <td>Interested in our Soft Skills Trainings?</td>
                <td>trainings-coordinator[at]eestec[dot]net</td>
            </tr>
            <tr>
                <td>Technical questions or problems with this page?</td>
                <td>it-coordinator[at]eestec[dot]net</td>
            </tr>
        </table>

        <h1>Postal Address</h1>
        <address>
            <p>EESTEC International</p>

            <p> Electrical Engineering STudents' European assoCiation</p>

            <p>EESTEC c/o AMIV an der ETH CAB E37, Universitätstrasse 6 8092 Zürich, Switzerland</p>

            <p>web: eestec.net</p>

            <p>email: board@eestec.net</p>
        </address>
    </section>
{% endblock %}
