{% extends 'base/base.html' %}
{% load compress %}
{% load thumbnail %}
{% load staticfiles %}
{% block maincontent %}

    <ul class="pgwSlider">
        {% for object in object_list %}
            <li>
                <a href="{% url 'news' object.slug %}">
                    {% thumbnail object.thumbnail "1087x480" quality=95 crop="center" as im %}
                        <img src="{{ im.url }}"
                    {% endthumbnail %}
                             alt="{{ object.name }}"
                             data-description="
                                {% autoescape off %}
                                    {{ object.content|truncatewords:50 }}
                                    {% ifnotequal object.content|truncatewords:50|length object.content|truncatewords:51|length %}
                                        <a href='{% url 'news' object.slug %}'
                                 style='font-weight: bold;'> Read more</a>"
                             {% endifnotequal %}
                             {% endautoescape %}
                    "></a>
            </li>
        {% endfor %}
    </ul>
    <main class="home">

        <div class="donate_and_newsletter">

            <div class="aboutus">
                <h1>About Us</h1>

                <p>Electrical Engineering STudents' European assoCiation is an apolitical, non-governmental and non-profit organization for EECS students at universities, institutes and schools of technology.
		</p>
                <p>EESTEC aims to develop international contacts and to encourage the exchange of ideas among EECS students through professional workshops, cultural student exchanges and publications. With various activities that EESTEC provides, it creates opportunities for students to develop in their academic, professional and social lives. 
		</p>
                <p>The Association was founded in The Netherlands, in 1986. Nowadays, EESTEC is present in 27 countries and 54 cities across Europe with over 5000 members. Indirectly, EESTEC influences the students at all the faculties where it is present.</p>
            </div>
            <div class="contact">
                <h1>Contact</h1>

                <div class="social">
                    {% include 'base/footer/social.html' %}
                </div>
                <a style="background-color: transparent;" href="mailto:board@eestec.net">board@eestec.net</a>
                <address>EESTEC c/o AMIV an der ETH CAB E37, Universitätstrasse 6 8092 Zürich, Switzerland</address>

                <h3>GDPR requests</h3>
                <a style="background-color: transparent;" href="mailto:gdpr@eestec.net">gdpr@eestec.net</a>

            </div>
            <div class="donate">
                <p>Spot a bug?</p>
                <a href="#" id="fdbk">
                    Feedback us
                </a>

                <script type="text/javascript">
                    $(function () {
                        $("#fdbk").click(function (event) {
                            event.preventDefault();
                            $.pgwModal({
                                        url: "{% url 'website-feedback' %}",
                                        loadingContent: '<span style="text-align:center">Loading in progress</span>',
                                        titleBar: false,
                                        maxWidth: 800
                                    }
                            );
                            return false;
                        });
                    });
                </script>
            </div>
            <div class="newsletter">
                <form action="{% url 'newsletter' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="mailsub">
                    <input class="submit" type="submit"
                           value="Sign up for our Newsletter">
                </form>
            </div>
        </div>

    </main>
{% endblock %}
