{% load static %}
<div class="featured">
</div>
{% include 'events/grids/base.html' with object_list=featuredevent name="Featured Event" %}
<!--<a href="http://bit.ly/1Rz5Phb"><img src="{% static 'enet/img/abb.jpg' %}"/></a>-->
