{% load thumbnail %}

<h2>EESTEC International Board of {{ object.year }}/ {{ object.year|add:"1" }}</h2>
<article class="board">
    <div class="chairperson">
        <h4>Chairperson</h4>
        {{ object.cp.as_html }}
        <p>
            Responsible for the functioning of the Association.
        </p>

        <p>
            Responsible for Board Meetings and Congresses.
        </p>

        <p>
            Responsible for operational work of the Board.
        </p>

        <p>
            Responsible for preparing quarterly Board reports.
        </p>
    </div>
    <div class="treasurer">
        <h4>Treasurer</h4>
        {{ object.treasurer.as_html }}
        <p>
            Ensuring Liquidity of EESTEC International.
        </p>

        <p>
            Responsible for bookkeeping and financial reports.
        </p>

        <p>
            Responsible for maintaining and updating the legal documents of the Association.
        </p>
    </div>
    <div class="vc-ia">
        <h4>VC Internal Affairs</h4>
        {{ object.vcia.as_html }}
        <p>
            Responsible for coordinating the work of Contact Persons within the network.
        </p>

        <p>
            Responsible for internal activation and motivation.
        </p>

        <p>
            Responsible for the activation and education of all levels of EESTEC Commitments.
        </p>

        <p>
            Responsible for internal communication, information flow and cooperation within the network.
        </p>
    </div>
    <div class="vc-pa">
        <h4>VC Administrative Affairs</h4>
        {{ object.vcpa.as_html }}
        <p>
            Responsible for the International Bureau.
        </p>

        <p>
            Responsible for knowledge preservation and transfer.
        </p>

        <p>
            Responsible for data collection and evaluation.
        </p>

        <p>
            Responsible for gathering half-year reports from Commitments.
        </p>

        <p>
            Responsible for collecting information from Commitments.
        </p>
    </div>
    <div class="vc-ea">
        <h4>VC External Affairs</h4>
        {{ object.vcea.as_html }}
        <p>
            Responsible for activation of a new EESTEC Observer.
        </p>

        <p>
            Responsible for contacts with other NGOs.
        </p>

        <p>
            Responsible for contacts with universities.
        </p>

        <p>
            Responsible for company contacts and fundraising.
        </p>

        <p>
            Responsible for public relations.
        </p>

        <p>
            Responsible for EESTEC Magazine.
        </p>
    </div>
</article>
