<ul class="figure event">
    {% comment %} {% for event in object_list %}
        <li>
        {% if event.category != "recruitment" %}
            {% include 'events/event.html' with object=event %}
        {% endif %}
        </li>
    {% endfor %} {% endcomment %}
</ul>