{% extends "forms/form_with_inlines.html" %}
{% block formjavascript %}
    <script type="text/javascript">
        $(function () {
            $("#{{ id }} input[type=submit]").button();
            $("#dialogform form").submit(function () {
                console.log("form submitted to https://eestec.net"+$(this).attr('action'));
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    crossDomain: false,
                    success: function (data) {
                        console.log(data);
                        if (data.content) {
                            console.log("form came back with data");
                            $.pgwModal({
                                content: data.content,
                                loadingContent: '<span style="text-align:center">Loading in progress</span>',
                                titleBar: false,
                                maxWidth: 800
                            });
                        } else {
                            console.log("form came back without data");
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("from fail: " + errorThrown);

                        let msg = '<div style="text-align:center;margin:2em;"><b>Failed to process request</b><p style="margin-top:3em">HTTP error ' + jqXHR.status + ' (' + jqXHR.statusText + ')</p>';
                        if (jqXHR.status == 413) {
                            msg += '<p style="margin-top:3em;font-style:italic">Providing a file with smaller size could help, since there is a limit set for request size.</p>';
                        }
                        msg += '</div>';
                        $.pgwModal({
                            content: msg,
                            loadingContent: '<span style="text-align:center">Failed to process request</span>',
                            titleBar: false,
                            maxWidth: 800
                        });
                    }
                });

                return false;
            });

            $(".date").datepicker({
                changeYear: true,
                yearRange: "-35:+1"
            });
            $(".datetime").datetimepicker();
        });
    </script>
{% endblock %}
