{% extends parent %}
{% block dialogform %}
    {% block formjavascript %}
    {% endblock %}
    {{ form.media }}
    <div id="{{ id }}">
        <form action="{{ action }}" enctype="multipart/form-data" id="{{ form_id }}"
              method="post" class="dialogform">
        {% csrf_token %}
            {% block form %}
                {% include 'forms/better_form.html' %}
            {% endblock %}
            {% for inline in inlines %}
            {{ inline.management_form }}
                <table style="width:100%;" id="{{ inline.prefix }}">
                <tr>
                    {% block readonly_labels %}
                        {% for label in read_only %}
                            <td>{{ label }}</td>
                        {% endfor %}
                    {% endblock %}
                    {% for field in inline.0.visible_fields %}
                        <th>
                            {{ field.label }}
                        </th>
                    {% endfor %}
                </tr>
                {% for inform in inline %}
                    <tr>
                        {% for hidden in inform.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% block readonly %} {% endblock %}
                        {% block formfields %}
                        {% for field in inform.visible_fields %}
                            <td>
                                {{ field.errors }}
                                {{ field }}
                            </td>
                        {% endfor %}
                        {% endblock %}
                    </tr>
                {% endfor %}
            </table>
                {% if can_add %}
                    <input type="button" value="Add More" id="add_more">
                        <script>
                            function cloneMore(selector, type) {
                                var newElement = $(selector).clone(true);
                                console.log(newElement);
                                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                                newElement.find(':input').each(function () {
                                    var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                                    var id = 'id_' + name;
                                    $(this).attr({
                                        'name': name,
                                        'id': id
                                    }).val('').removeAttr('checked');
                                });
                                newElement.find('label').each(function () {
                                    var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                                    $(this).attr('for', newFor);
                                });
                                total++;
                                $('#id_' + type + '-TOTAL_FORMS').val(total);
                                $(selector).after(newElement);
                            }
                            $('#add_more').click(function () {
                                cloneMore('#{{ inline.prefix}} tr:last', '{{ inline.prefix }}');
                            });
                        </script>
                {% endif %}
            {% endfor %}
            {% if submit == "Sign Up!" %}
		    <script>
			document.getElementById('agree').onchange = function() {
				const btn = document.getElementById('submitButton')
				btn.disabled = !this.checked;
				if (this.checked) {
					btn.style.background = "#e6e6e6";
					btn.style.color = "#555";
				} else {
					btn.style.background = "rgba(0,0,0,0.025)";
					btn.style.color = "#888";
				}
				
			}
			document.getElementById('submitButton').style.background = "rgba(0,0,0,0.025)";
			document.getElementById('submitButton').style.color = "#888"			
			document.getElementById('submitButton').disabled = true;
		    </script>
		    </ br>
		    <input type="checkbox" id="agree" />
            	    <span>I accept EESTEC's Terms & Conditions</span>
	    {% endif %}
            <input id="submitButton" type="submit" value="{{ submit }}">
        </form>
    </div>
{% endblock %}
