{% load staticfiles %}
<div id="sponsors">
   {% include 'base/footer/sponsors.html' %}
</div>
<nav class="sitemap">
    <!--The sitemap navigation, mainly for robots -->
    <!-- The transparent map in the footer-->
    {% include 'base/footer/sitemap.html' %}
</nav>
<div class="social">
    <!-- The social media area-->
    {% block social %}
        {% include 'base/footer/social.html' %}
    {% endblock %}
</div>
<div id="copyright">Copyright EESTEC 2015-2018</div>
