{% load staticfiles %}
<a id="twitter" href="https://twitter.com/eestec">
    <img alt="Follow us on Twitter" src="{% static 'enet/icons/twitter.svg' %}"/>
</a>
<a id="youtube" href="https://www.youtube.com/channel/UCdGEsvqrZfNVbGcn9ns2RNA">
    <img alt="Our Youtube Channel" src="{% static 'enet/icons/youtube.svg' %}"/>
</a>
<a id="facebook" href="https://www.facebook.com/EESTEC">
    <img alt="Like us on Facebook" src="{% static 'enet/icons/facebook.svg' %}"/>
</a>
<a id="linkedin" href="https://www.linkedin.com/company/electrical-engineering-students-european-association/">
    <img alt="Find us on LinkedIn" src="{% static 'enet/icons/linkedin.svg' %}"/>
</a>
