<!-- <a><img src="/static/enet/img/sponsor5.png" height="60" alt="Studyportals"/> </a> -->
<!-- <a><img src="/static/enet/img/sponsor1.png" height="60" alt="ETH Zürich"/> </a> -->
<!-- <a><img src="/static/enet/img/sponsor6.png" height="60" alt="University of Ljubljana" /> </a> -->
<!-- <a><img src="/static/enet/img/sponsor2.png" height="60" alt="KIC InnoEnnergy"/> </a> -->
<!-- <a><img src="/static/enet/img/sponsor3.png" height="60" alt="Starzel"/> </a> -->
<!-- <a><img src="/static/enet/img/sponsor4.png" height="60" alt="IEEE"/> </a> -->
<!-- <a><img src="/static/enet/img/sponsor7.png" height="60" alt="metaFox"/> </a> -->
