<!-- {% extends 'prototypes/elasticgrid.html' %}
{% block egtags %}{% filter escapejs %}
    {% if object.category == "workshop" or object.category == "exchange" or object.category == "operational" or object.category == "imw" %}
        Main Events,{% endif %}{{ object.category|title }}{% endfilter %}{% endblock %}
{% block egdescription %}{% filter escapejs %}{{ object.category|title }} organized by
    {% for oc in object.organizing_committee.all %}{{ oc }}{% endfor %}
    <hr>
    From
    <date>{{ object.start_date }}</date> till
    <date>{{ object.end_date }}</date><br>
    Application Deadline
    <date>{{ object.deadline }} </date>
    <hr>
    {{ object.description|striptags|truncatewords:70 }}{% endfilter %} {% endblock %} -->
